@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: Allure;
    src: url(../fonts/Allura-Regular.ttf);
}

$font1: Roboto;
$font2: Poppins;
$font3: Allure;

$grey1: #ebebeb;
$white1: #fff;
$orange1: #af5f2e;
$black1: #161616ee;
$black2: #0e0505e8;

*{
    margin: 0;
    padding: 0;
    font-family: $font1;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a, a:visited{
    text-decoration: none;
    color: $grey1;
}
@mixin diflex{
    display: flex;
    align-items: center;
    justify-content: center;
}