@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Allure;
  src: url(../fonts/Allura-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: #ebebeb;
}

header {
  min-height: 100vh;
  background: url(../img/bg-slider-06.jpg) center/cover;
  position: relative;
}
header .header_nav {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  max-width: 1100px;
  margin: 0 auto;
  color: #fff;
  padding: 5px 0;
}
header .header_nav .logo span a {
  font-family: Allure;
  font-size: 2rem;
  font-weight: 700;
}
header .header_nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
header .header_nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  font-size: 0.8rem;
}
header .header_nav nav ul li {
  padding: 4px 1px;
  position: relative;
  letter-spacing: 1px;
}
header .header_nav nav ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #ebebeb;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
header .header_nav nav ul li:hover::after {
  width: 100%;
}
header .header_nav nav ul li:hover a {
  color: #fff;
}
header .header_nav nav ul .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ebebeb;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
@media screen and (max-width: 600px) {
  header .header_nav nav {
    display: none;
  }
}
header .header_nav .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
header .header_nav .social span i {
  font-size: 0.9rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
header .header_nav .social span i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 600px) {
  header .header_nav {
    grid-template-columns: 50% 50%;
  }
}
header .header_content {
  max-width: 1100px;
  width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
header .header_content h1 {
  font-size: 3rem;
  line-height: 35px;
}
@media screen and (max-width: 600px) {
  header .header_content h1 {
    font-size: 2rem;
    line-height: 45px;
  }
}
header .header_content #welcome {
  color: #af5f2e;
  font-family: Allure;
  font-weight: 500;
}
header .header_content #resto {
  text-transform: uppercase;
  font-family: Poppins;
  letter-spacing: 5px;
}
@media screen and (max-width: 600px) {
  header .header_content #resto {
    letter-spacing: 10px;
  }
}
header .header_content .img {
  margin: 35px 0 25px;
}
header .header_content .img img {
  width: 30px;
}
header .header_content p {
  color: #ebebeb;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  header .header_content p {
    max-width: 250px;
    width: 50%;
    padding: 12px;
    margin: 0 auto;
  }
}

#section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 600px) {
  #section1 {
    grid-template-columns: 1fr;
  }
}
#section1 .left_part {
  background: rgba(226, 226, 226, 0.3960784314);
}
#section1 .left_part .left {
  margin: 10px;
  padding: 20px 10px;
  border: 2px dashed #af5f2e;
  text-align: center;
}
#section1 .left_part .left h3 {
  font-size: 1.5rem;
  line-height: 14px;
}
#section1 .left_part .left #discover {
  color: #af5f2e;
  font-family: Allure;
}
#section1 .left_part .left #store {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: Poppins;
}
#section1 .left_part .left .fourche {
  margin: 25px 0;
}
#section1 .left_part .left .fourche img {
  width: 20px;
}
#section1 .left_part .left .para p {
  font-size: 0.9rem;
}
@media screen and (max-width: 600px) {
  #section1 .left_part .left .para p {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
  }
}
#section1 .left_part .left .hero_content .hero {
  margin: 20px 0 10px;
}
#section1 .left_part .left .hero_content .hero img {
  width: 70px;
  border-radius: 50%;
}
#section1 .left_part .left .hero_content p {
  font-family: Poppins;
  font-size: 0.9rem;
  line-height: 15px;
}
#section1 .left_part .left .hero_content span {
  color: grey;
  text-transform: uppercase;
  font-size: 0.7rem;
  cursor: pointer;
}
#section1 .right_part div {
  height: 100%;
  background: url(../img/store-01.jpg) center/cover;
}
@media screen and (max-width: 600px) {
  #section1 .right_part {
    display: none;
  }
}

#section2 .choice_section {
  background: rgba(22, 22, 22, 0.9333333333);
  text-align: center;
  padding: 30px 0 130px;
}
@media screen and (max-width: 700px) {
  #section2 .choice_section {
    padding: 70px 0 300px;
  }
}
#section2 .choice_section h3 {
  color: #af5f2e;
  font-family: Allure;
  font-size: 1.5rem;
}
#section2 .choice_section .img {
  margin: 25px 0 20px;
}
#section2 .choice_section .img img {
  width: 20px;
}
@media screen and (max-width: 600px) {
  #section2 .choice_section .img img {
    width: 25px;
  }
}
#section2 .choice_section ul {
  max-width: 1100px;
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#section2 .choice_section ul li {
  font-weight: 500;
  font-size: 0.9rem;
  color: #ebebeb;
  position: relative;
  padding: 4px 2px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
#section2 .choice_section ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #ebebeb;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
#section2 .choice_section ul li:hover::after {
  width: 100%;
}
#section2 .choice_section ul li:hover {
  color: #fff;
}
#section2 .choice_section ul .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ebebeb;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
#section2 .menu_section_content {
  background: url(../img/bg-menu-01.jpg) center/cover;
  height: 400px;
  position: relative;
}
#section2 .menu_section_content .menu_section {
  border-top: 3px solid #af5f2e;
  background: #ebebeb;
  padding: 20px 10px 10px;
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 10px;
  max-width: 1100px;
  width: 80%;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#section2 .menu_section_content .menu_section .menu_plate {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
}
#section2 .menu_section_content .menu_section .menu_plate .plate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.768627451);
  width: 100%;
  padding: 15px 4px 15px 4px;
}
#section2 .menu_section_content .menu_section .menu_plate .plate .img {
  cursor: pointer;
  width: 60px;
  height: 60px;
}
#section2 .menu_section_content .menu_section .menu_plate .plate .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section2 .menu_section_content .menu_section .menu_plate .plate .infos {
  margin: 0 10px;
  cursor: pointer;
  width: 60%;
}
#section2 .menu_section_content .menu_section .menu_plate .plate .infos h4 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
}
#section2 .menu_section_content .menu_section .menu_plate .plate .infos p {
  font-size: 0.8rem;
}
@media screen and (max-width: 700px) {
  #section2 .menu_section_content .menu_section .menu_plate .plate .infos {
    margin: 0 0 0 20px;
  }
}
#section2 .menu_section_content .menu_section .menu_plate .plate .price {
  width: 20%;
}
#section2 .menu_section_content .menu_section .menu_plate .plate .price p {
  color: #af5f2e;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
}
@media screen and (max-width: 700px) {
  #section2 .menu_section_content .menu_section {
    grid-template-columns: 1fr;
    max-width: 900px;
    width: 70%;
    top: 20%;
  }
}
@media screen and (max-width: 700px) {
  #section2 .menu_section_content {
    height: 600px;
  }
}

#section3 {
  background: rgba(22, 22, 22, 0.9333333333);
  padding: 40px 70px;
}
#section3 .resevation_content {
  background: #ebebeb;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#section3 .resevation_content .content {
  background: #000;
  color: #ebebeb;
  text-align: center;
}
#section3 .resevation_content .content .left_side {
  margin: 20px;
  padding: 20px 10px;
  border: 1px dashed #ebebeb;
}
#section3 .resevation_content .content .left_side h3 {
  color: #af5f2e;
  font-size: 1.5rem;
  line-height: 14px;
}
#section3 .resevation_content .content .left_side .time {
  font-family: Allure;
  letter-spacing: 2px;
  font-weight: 500;
}
#section3 .resevation_content .content .left_side .open {
  font-family: Poppins;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#section3 .resevation_content .content .left_side .img {
  margin: 20px 0;
}
#section3 .resevation_content .content .left_side .img img {
  width: 25px;
}
#section3 .resevation_content .content .left_side .day_reservation h4 {
  color: #af5f2e;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: Poppins;
  font-weight: 700;
}
#section3 .resevation_content .content .left_side .day_reservation .top, #section3 .resevation_content .content .left_side .day_reservation .bottom {
  margin-bottom: 20px;
}
#section3 .resevation_content .content .left_side .day_reservation .top p, #section3 .resevation_content .content .left_side .day_reservation .bottom p {
  font-size: 0.8rem;
  margin: 10px 0 20px;
}
#section3 .resevation_content .content .left_side .day_reservation .tel {
  padding: 20px 0 10px;
}
#section3 .resevation_content .content .left_side .day_reservation .tel p {
  font-size: 1rem;
}
#section3 .resevation_content .content .left_side .day_reservation .tel p a {
  color: #af5f2e;
  font-weight: 800;
}
#section3 .resevation_content .right_side {
  text-align: center;
  padding: 0 40px;
}
#section3 .resevation_content .right_side h3 {
  font-size: 1.5rem;
  line-height: 25px;
}
#section3 .resevation_content .right_side h3 .reservation {
  font-family: Allure;
  color: #af5f2e;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 500;
}
#section3 .resevation_content .right_side h3 .booking {
  font-family: Poppins;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(22, 22, 22, 0.9333333333);
}
#section3 .resevation_content .right_side .img {
  margin: 20px 0;
}
#section3 .resevation_content .right_side .img img {
  width: 20px;
}
#section3 .resevation_content .right_side form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
#section3 .resevation_content .right_side form select, #section3 .resevation_content .right_side form input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3215686275);
  padding: 10px 2px;
  font-weight: bold;
  outline: none;
  background: transparent;
  width: 100%;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  #section3 .resevation_content .right_side form select, #section3 .resevation_content .right_side form input {
    font-size: 0.78rem;
  }
}
#section3 .resevation_content .right_side form input[type=text] {
  color: grey;
}
@media screen and (max-width: 600px) {
  #section3 .resevation_content .right_side form {
    grid-template-columns: 1fr;
    padding: 0 40px;
  }
}
#section3 .resevation_content .right_side #btn {
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: 900;
  font-family: Poppins;
  letter-spacing: 2px;
  border: none;
  background: rgba(22, 22, 22, 0.9333333333);
  color: #ebebeb;
  margin: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
#section3 .resevation_content .right_side #btn:hover {
  background: #af5f2e;
  scale: 1.1;
}
@media screen and (max-width: 600px) {
  #section3 .resevation_content .right_side #btn {
    font-size: 0.78rem;
  }
}
@media screen and (max-width: 770px) {
  #section3 .resevation_content .right_side {
    padding: 30px 50px;
  }
}
@media screen and (max-width: 770px) {
  #section3 .resevation_content {
    grid-template-columns: 1fr;
    max-width: 900px;
    width: 100%;
  }
}
@media screen and (max-width: 770px) {
  #section3 {
    padding: 70px 70px 30px;
  }
}

#section4 {
  background: rgba(22, 22, 22, 0.9333333333);
  padding: 40px 70px;
}
#section4 .top {
  text-align: center;
  max-width: 1100px;
}
#section4 .top h3 {
  font-size: 1.2rem;
  line-height: 25px;
}
#section4 .top h3 .coming {
  font-family: Allure;
  color: #af5f2e;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 500;
}
#section4 .top h3 .event {
  font-family: Poppins;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
#section4 .top .img {
  margin: 20px 0;
}
#section4 .top .img img {
  width: 20px;
}
#section4 .bottom {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 38%;
  grid-template-areas: "un deux" "trois deux";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
#section4 .bottom i {
  margin-right: 3px;
}
#section4 .bottom .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#section4 .bottom .event .event_left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#section4 .bottom .event .event_left .date {
  width: 70px;
  height: 70px;
  background: #1a1616;
  margin: 40px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#section4 .bottom .event .event_left .date p {
  font-size: 0.8rem;
}
#section4 .bottom .event .event_right {
  width: 60%;
  padding: 15px 10px;
  color: rgba(0, 0, 0, 0.7607843137);
}
#section4 .bottom .event .event_right h3 {
  margin-left: 10px;
  font-size: 0.98rem;
}
#section4 .bottom .event .event_right p {
  margin: 15px 0;
  font-size: 0.7rem;
  color: grey;
}
#section4 .bottom .event .event_right h4 {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  font-family: Poppins;
  cursor: pointer;
}
#section4 .bottom .event_content1 {
  grid-area: un;
}
#section4 .bottom .event_content1 .event_left {
  background: url(/assets/img/event-01.jpg) center/cover;
}
#section4 .bottom .event_content1 .event_right {
  background: #ebebeb;
}
#section4 .bottom .event_content2 {
  grid-area: trois;
}
#section4 .bottom .event_content2 .event_left {
  background: url(/assets/img/event-02.jpg) center/cover;
}
#section4 .bottom .event_content2 .event_right {
  background: #ebebeb;
}
#section4 .bottom .event_content3 {
  grid-area: deux;
  background: url(/assets/img/event-03.jpg) center/cover;
}
#section4 .bottom .event_content3 .event_top {
  padding-bottom: 4px;
}
#section4 .bottom .event_content3 .event_top .date {
  background: #1a1616;
  color: #fff;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  padding: 10px 0;
}
#section4 .bottom .event_content3 .event_top .date h3 {
  margin: 0;
  width: 100%;
}
#section4 .bottom .event_content3 .event_top .date p {
  margin: 0;
}
#section4 .bottom .event_content3 .event_center {
  background: #ebebeb;
  padding: 0 20px;
  text-align: center;
  width: 100%;
  margin: 10px 25px;
  color: rgba(0, 0, 0, 0.7607843137);
}
#section4 .bottom .event_content3 .event_center h3 {
  font-size: 0.98rem;
  margin: 20px auto;
  width: 200px;
}
#section4 .bottom .event_content3 .event_center p {
  font-size: 0.7rem;
  margin: 0 0 20px;
  color: grey;
}
#section4 .bottom .event_content3 .event_center h4 {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  font-family: Poppins;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  #section4 {
    display: none;
  }
}

#section5 {
  background: rgba(22, 22, 22, 0.9333333333);
}
#section5 .top {
  padding: 0px 70px;
  position: relative;
  top: 100px;
  height: 240px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
#section5 .top .top_content {
  background: #ebebeb;
  max-width: 1000px;
  width: 90%;
  color: rgba(0, 0, 0, 0.631372549);
  padding: 0 40px 20px;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#section5 .top .top_content .img {
  position: relative;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#section5 .top .top_content .img img {
  width: 70px;
  border-radius: 1500px;
  -o-object-fit: cover;
     object-fit: cover;
}
#section5 .top .top_content p {
  font-size: 0.9rem;
  line-height: 20px;
  margin: 0px 0 15px;
}
#section5 .top .top_content p i {
  color: black;
  position: relative;
  top: -5px;
}
#section5 .top .top_content h3 {
  font-size: 0.99rem;
  cursor: pointer;
}
@media screen and (max-width: 570px) {
  #section5 .top .top_content h3 {
    font-size: 1rem;
  }
}
#section5 .top .top_content h4 {
  font-size: 0.67rem;
  color: #af5f2e;
  margin: 10px 0;
  cursor: pointer;
}
@media screen and (max-width: 570px) {
  #section5 .top .top_content {
    padding: 0 40px 0px;
  }
}
@media screen and (max-width: 570px) {
  #section5 .top {
    height: 300px;
  }
}
#section5 .bottom {
  background: url(/assets/img/gmap.jpg) center/cover;
  height: 240px;
}
@media screen and (max-width: 570px) {
  #section5 .bottom {
    height: 270px;
  }
}

footer {
  background: url(/assets/img/bg-footer.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}
footer .left {
  width: 50%;
  margin: 0 40px;
}
footer .left h3 {
  color: #af5f2e;
  font-family: Allure;
  font-size: 1.5rem;
  font-weight: 500;
}
footer .left p {
  color: grey;
  font-size: 0.77rem;
  line-height: 20px;
}
@media screen and (max-width: 600px) {
  footer .left {
    display: none;
  }
}
footer .right {
  width: 50%;
  margin: 0 40px;
}
footer .right h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8rem;
  margin: 10px 0;
}
footer .right input {
  background: transparent;
  border: 1px solid rgba(139, 103, 103, 0.5764705882);
  padding: 5px 5px;
  width: 80%;
  outline: none;
  border-radius: 2px;
  color: grey;
}
footer .right .social {
  margin: 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .right .social .social_media {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .right .social .social_media span {
  padding: 5px;
}
footer .right .social .social_media span i {
  font-size: 0.9rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  color: grey;
  cursor: pointer;
}
footer .right .social .social_media span i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 570px) {
  footer .right {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}/*# sourceMappingURL=index.css.map */