header{
    min-height: 100vh;
    background: url(../img/bg-slider-06.jpg) center/cover;
    position: relative;

    .header_nav{
        display: grid;
        grid-template-columns: 15% 70% 15%;
        align-items: center;
        justify-items: center;

        margin: 0 auto;
        color: $white1;
        padding: 5px 0;
        position: fixed;
        width: 100%;
        background: #000000f6;
        transition: .4s ease-in-out;
        z-index: 1000;

        .logo{
            
            span a{  
                font-family: $font3;
                font-size: 2rem;
                font-weight: 700;
            }
            @media screen  and (max-width:600px){
                margin: 10px 10px;
            }
        }
        nav{
            @include diflex;
            width: 100%;
            
            ul{
                @include diflex;
                justify-content: space-around;
                width: 100%;
                font-size: .8rem;
                text-transform: uppercase;
                
                li{
                    padding: 4px 1px;
                    position: relative;
                    letter-spacing: 1px;

                    &::after{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 1px;
                        background: $grey1;
                        bottom: 0;
                        left: 0;
                        transition: width .4s ease;
                    }
        
                    &:hover::after{
                        width: 100%;
                    }

                    &:hover a{
                        color: $white1
                    }

                    @media screen  and (max-width:600px){
                        margin: 10px 0;
                    }
                }
                .active{
                    
                    &::after{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background: $grey1;
                        bottom: 0;
                        left: 0;
                        transition: width .4s ease;
                    }
                }

                @media screen  and (max-width:600px){
                    flex-direction: column;  
                    gap: 10px;

                    margin: 40px 0;
                }
            }
        }
        .social{
            @include diflex;
            justify-content: space-evenly;
            width: 100%;

            span{
                // i{
                //     font-size: .9rem;
                //     transition: .4s ease-in-out;
                //     cursor: pointer;
                //     &:hover{
                //         transform: scale(1.1);
                //     }
                // }
                svg{
                    font-size: .9rem;
                    transition: .4s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            // @media screen  and (max-width:600px){
                
            // }
        }

        @media screen  and (max-width:600px){
            display: none;
            grid-template-columns: 1fr;
            grid-template-rows: 10% 1fr 1fr;
            top: -100%;
            right: 0;
            width: 100%;
            opacity: 0;
            transition: .4s ease-in-out;
            animation: animeNav 2s ease-in-out forwards;

            @keyframes animeNav {
                 50%{
                    opacity: 0.7;
                    width: 100%;
                    height: 100vh;
                }
                90%{
                    top: 0;
                    height: 100vh;
                    width: 100%;
                }
                100%{
                    top: 0;
                    width: 240px;
                    height: 100vh;
                    opacity: 1;
                }
            }
        }
    }
    .show{
        display: block;
    }
    .show ~ .toggle_btn{
        span{
          position: absolute;
        }
        span:nth-child(1){
          transform: rotate(45deg);
        }
        span:nth-child(2){
          opacity: 0;
        }
        span:nth-child(3){
          transform: rotate(-45deg);
        }
    }


    .header_content{
        max-width: 1100px;
        width: 98%;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, 50%);
        text-align: center;
        color: $white1;
        transition: .4s ease;
        animation: moveTop 2s forwards;
        opacity: 0.2;

        @keyframes moveTop {
            to{
                transform: translate(-50%, -50%);
                opacity: 1;
            }
        }


        h1{
            font-size: 3rem;
            line-height: 35px;

            @media screen  and (max-width:600px){
                font-size: 2rem; 
                line-height: 45px;
            }
        }
        #welcome{
            color: $orange1;
            font-family: $font3;
            font-weight: 500;
        }
        #resto{
            text-transform: uppercase;
            font-family: $font2;
            letter-spacing: 5px;

            @media screen  and (max-width:600px){
                letter-spacing: 10px;  
            }
        }
        .img{
            margin: 35px 0 25px;

            img{
                width: 30px;
                height: 30px;
            }
        }
        p{
            color: $grey1;
            letter-spacing: 3px;
            text-transform: uppercase;
            font-size: .8rem;
            font-weight: 500;

            @media screen  and (max-width:600px){
                max-width: 250px;
                width: 50%;
                padding: 12px;
                margin: 0 auto;
            }
        }
    }
    .toggle_btn{
        width: 50px;
        height: 50px;
        position: fixed;
        top: 10px;
        right: 24px;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 100000000000000000;

        span{
            position: relative;
            border: 1px solid white;
            width: 40px;
            height: 7px;
            margin-top: 4px;

            transition: .4s ease-in-out;
        }

        @media screen  and (max-width:600px){
            display: flex;
        }
    }
}